* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

.container, .container-header {
    max-width: 900px;
    margin: 0 auto;
}

.container-2 {
    max-width: 700px;
    margin: 0 auto;
}

.debug header{
    min-height: 70px;
    background-color: lightblue;
}

.debug .container {
    padding: 30px 0;
}

.debug .container-header {
    padding: 20px 0;
}

.debug .container-2 {
    padding: 30px 0;
}

.section-blue {
    background-color: navy;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.debug [class^='col'] {
    border: 2px dashed black;
    padding: 10px;
}

.debug .row-cols-3 > .col {
    background-color: orange;
}

.row-cols-3 > .col {
    flex-basis: calc(100% / 5);
}

.row-cols-3 > .col-link {
    flex-basis: 60%;
    text-align: center;
}

.row-cols-3 > .col-login {
    text-align: right;
}

.col-pink {
    background-color: violet;
    min-height: 400px;
}

.debug .col-60 {
    background-color: cornflowerblue;
}

.debug .col-40 {
    background-color: pink;
}

.row-cols-2 .col-60 {
    flex-basis: 60%;
}

.row-cols-2 .col-40 {
    flex-basis: 40%;
}

.debug .section-white {
    background-color: white;
}

.debug .section-grey {
    background-color: lightgrey;
}

.row-cols-2 {
    min-height: 500px;
}

